@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{ word-wrap:break-word; word-break:break-all; padding:0; margin:0; list-style:none; outline:0; -webkit-tap-highlight-color:rgba(0,0,0,0); font:inherit; font-size:16px; vertical-align:baseline; font-family:'Microsoft YaHei',Helvetica,Arial,sans-serif; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
body{overflow-x:hidden; font-size:1em;}
button,input,option,select,textarea,em{ -webkit-appearance:none; -webkit-text-size-adjust:none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0); border-radius:0;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none; border-radius:0;}
button,img,input,nav,textarea,video{border:0;}
/*body,td{font-size:.9em}*/
a,a:visited{text-decoration:none;-webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,html{height:100%}
.clear{ clear:both; padding:0; margin:0; line-height:0;}
.clearfix{zoom:1;}
.clearfix:after,.clearfix:before{content:"";display:block;height:0;width:0;visibility:hidden}
.clearfix:after{clear:both;}

/* 背景颜色 */
.bgmain{ background: #e2e2e2;}

/* 总容器 */
.mianScroll{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; overflow: hidden;}

/* 活动列表样式 */
.activityListM{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; overflow: hidden; overflow-y: auto}
.activity{ background: #FFFFFF; border-radius: 4px;margin:10px; overflow: hidden;}
.activity .activityLImg img{ width: 100%; height: auto;}
.activity .activityContent{ padding: 10px;}
.activity .activityContent h3{ font-size:1.2rem; min-height: 30px; line-height:1.5em; position: relative; padding: 0 40px 0 0; overflow: hidden;}
.activity .activityContent h3 span{ display: inline-block; vertical-align: middle; margin: -2px 0 0;}
.activity .activityContent ul li{ padding: 5px 0 0; color: #666666;}
.activity .activityContent ul li em{ float: left;}
.activity .activityContent ul li div{ overflow: hidden;}
.activity .activityContent ul li div span{ color: #666666;}

/* 活动内容样式 */
.activityAbout{ padding: 10px;}
.activityAbout h2{ font-size:1.3rem; padding: 0 0 10px;}
.activityAbout .activityImg img{ width:100%; height: auto;}
.activityAbout ul li{padding:10px 0;}
.activityAbout ul li em{ color: #333333; padding: 0 10px 5px 0; float:left; font-size:1em;}
.activityAbout ul li div{ overflow: hidden;}
.activityAbout ul li div p{ color:#666666; font-size:1em;}

/* .myActivityList{ position: absolute; left: 0; top:50px; right: 0; bottom: 0; overflow: hidden; overflow-y: auto;} */
.myActivityList{ overflow: hidden; overflow-y: auto; position: relative;}
.myActivityList .worksBox{ margin: 10px; padding:0 0 10px; overflow: hidden; border-bottom: 1px solid #eaeaea;}
.myActivityList .worksBox .worksBoxVideo{overflow: hidden; border-radius: 3px; width: 100%; height: 240px; background: rgba(0,0,0,0.8); position: relative; margin: 0 0 10px;}
.myActivityList .worksBox .worksBoxVideo video{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 100;}
.myActivityList .worksBox .worksBoxAbout{ position: relative; padding: 0 0 10px}
.myActivityList .worksBox .worksBoxAbout .userImg{ float: left; width: 3rem; height: 3rem; border-radius: 50%; margin:5px 10px 0 0;}
.myActivityList .worksBox .worksBoxAbout .userImg img{ width: 100%; height: 100%;}
.myActivityList .worksBox .worksBoxAbout .rightCon{ overflow: hidden;}
.myActivityList .worksBox .worksBoxAbout button{position: absolute; right: 0; top:0; left: auto; bottom: 0; margin: auto;}
.myActivityList .worksBox .worksBoxAbout button.drop{ position: absolute; right: 0; top:0; left: auto; bottom: 0; margin: auto; width: 30px; height: 30px; line-height: 30px; text-align: center; padding: 0;}
.myActivityList .worksBox .worksBoxAbout p{ padding: 5px 0 0;}
.myActivityList .worksBox .worksBoxAbout p em{ padding: 0 10px 0 0;}
.xbts{ position: fixed; right: 5px; bottom: 20%;}
.xbts button{width: 50px; height: 50px; line-height: 56px; text-align: center; padding: 0; background:#febe42;}
.xbts button span{ color: #FFFFFF; font-size:26px;}
.xbts button input{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; opacity: 0;}


/* 活动统计 */
.statisticsList ul li{ border-bottom: 1px solid #eaeaea; padding: 10px;}
.statisticsList ul li h3{ padding: 0 0 5px;}
.statisticsList ul li h3 em{ color: #1e88dd; padding: 0 5px 0 0}
.statisticsList ul li h3 span{ color:#f00; font-size: 18px; padding: 0 10px;}
.statisticsList ul li div em{ color: #999999; display: block;}
.statisticsList ul li div p span{ display: inline-block; background: #64bad9; color: #FFFFFF; margin: 10px 10px 0 0;  padding: 3px 10px; border-radius:2px;}


/* 创建活动 */
.creatActivityM{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; overflow: hidden; overflow-y: auto;}
.creatActivityM ul li{ border-bottom:1px solid #eaeaea; padding: 10px 0;}
.creatActivityM ul li em{ color: #666666;  font-size: 0.9em; padding: 0 10px;}
.creatActivityM ul li em i{ color: #F00; padding: 0 5px; vertical-align: middle;}
.creatActivityM .bts{ padding:10px;}